/*  ================================================================================== 
    NAVIGATION BAR
    ===================================================================================
*/
.first-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: var(--dark-color);
    display: none;
}


.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem;
}

.nav_menu {
    color: var(--white-color);
}

.nav_list {
    color: var(--white-color);
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.nav_item{
    padding: 1rem;
    color: var(--white-color);
    font-family: 'Quicksand', sans-serif;
}

.nav_link{
    position: relative;
    color: var(--white-color);
}

.nav_link:hover{
    color: var(--first-color);
}
.nav_logo{
    color: var(--white-color);
    font-family: 'Quicksand', sans-serif;
}
.nav_bar{
    color: var(--white-color);
    font-size: var(--h2-font-size);
    cursor: pointer;
    display: none;
}
.nav_close {
    color: var(--white-color);
    font-size: var(--h2-font-size);
    cursor: pointer;
    display: none;
}

.show{
    right: 0;
}

/*  MEDIA QUERIES  */
@media screen and (min-width: 768px) and (max-width: 1024px){

    .nav_menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 100%;
        padding-top: 12rem;
        height: 100%;
        /* padding: 2rem; */
        background-color: rgba(255,255,255,.3);
        transition: .5s;
        backdrop-filter: blur(10px);
    } 
    .nav_list {
        flex-direction: column;
    }
    .nav_bar {
        display: block;
    }
    .nav_close {
       display: none;  
    }
    .opened {
        display: block;
    } 
    .closed {
        display: none;
    }
    .active {
        right: 0;
    }

}

@media all and (max-width: 768px) {  

    .nav_menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: #ffffff4d; 
        transition: .5s;
        backdrop-filter: blur(10px);
    }

    .nav_list {
        flex-direction: column;
    }

    .nav_bar {
        display: block;
    }
    .nav_close {
       display: none;  
    }
    .opened {
        display: block;
    } 
    .closed {
        display: none;
    }
    .active {
        right: 0;
    }
} 

/* ==============================================================================
   PROJECTS SECTION 
   ==============================================================================
*/
.projects-section h4{
    font-size: 3rem;
    color: var(--white-color);
    text-align: center;
}
.projects-container-2{
    width: 90%;
    /* height: 100vh; */
    margin: 1rem;
    padding: 1rem;
    padding-left: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4rem;
}
.projects{
    width: fit-content;
    height: 100%;
    background-color: #2A3B47;
    color: var(--white-color);
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
}
.projects h5{
    font-size: 2rem;
    padding: 2rem;
}
.projects img{
    width: 80%;
    margin: 0 auto;   
}
.projects p{
    font-size: 1.5rem;
    padding-top: 3rem;
}

/*  SMALLER SCREENS STYLES */
@media all and (max-width: 480px) { 
    .projects-container-2 {
        padding-left: 1rem;
    }
}